@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
    .os-scrollbar-track {
        background-color: #d9d9d9!important;     
        height: 3px!important;   
    }
    .os-scrollbar-handle {
        background-color: rgb(30, 30, 30)!important;
        height: 3px!important;
        
    }
    .os-scrollbar-handle:hover {
        height: 6px!important;
        bottom: -1px!important;
        
    }
}